/* index.css 또는 App.css 등 전역 CSS에 추가 */
body {
  background-color: black;
}

.main {
    max-width: 1000px;

    border-radius: 3rem;

    margin: auto auto;
    margin-top: 3rem;
    padding: 2rem;

    color:  white;
    background-color: #1e1e1e;
}


/* Title */

.main .titleSection {
    text-align: center;
    margin-bottom: 3rem;
}

.titleSection .h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.titleSection .p {
    font-size: 1.25rem;
}

/* Introduce Game */

.main .gameSection {
    margin-bottom: 3rem;
}

.gameSection .gameList {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.gameList .gameCard {
    flex: 1 1 250px;

    border-radius: 1rem;
    padding: 1rem;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    background-color: #2e2e2e;

    transition: transform 0.3s ease;
}

.gameCard:hover {
    transform: scale(1.05);
}

/* Explain Gaem */
.explainSection {
    margin-bottom: 3rem;
}

.explainCard {
    border-radius: 1rem;
    padding: 1rem;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    background-color: #2e2e2e;

    transition: transform 0.3s ease;
}

.explainCard:hover {
    transform: scale(1.05);
}



/* Share */

.sectionTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

